.textAlign{
    text-align: left;
    margin-top: 3rem;
    margin-left: 13rem;
}

.topm{
    margin-top: 3rem !important;
}


.colorHeading{
    color: #399918 ;
}

.shiftLo{
    margin-right: 13rem;
    margin-top: 3rem;
}

.space{
    margin-right: 1rem;
}
.ma{
    margin-left: 13rem;
}

.cl{
    color: skyblue;
}
.hov:hover{
color:  #0000EE;
}

.dark{
    color: black;
}

.profile-image {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
}


.h5contactAligment{
    margin-left: 13rem;
    text-align: left;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Example animations */

.profile-image:hover {
    animation: bounce 1s infinite;
}

.profile-container:hover .profile-image {
    animation: rotate 2s infinite linear, zoom 2s infinite alternate;
}



/*------------------------------------ media query----------------------------------------------- */

@media only screen and (max-width: 600px){
	
    .contact{
        width: 100%;
        flex-direction: column;
        

    }

    .h5contactAligment{
        text-align: center;
        align-items: center;
        width: 100%;
        margin-left: 1rem;
        padding-top: 1rem;
    }

    .medialocicon{
      text-align: center;
      margin-left: 0.1rem;
      align-items: center;
      
      
      
      width: 100%;
      
      
    }

    .in{
        width: 100%;
    }

    .medialocation {
        flex-direction: column;
       
    }

    .emailicon{
       
        width: 100%;
    
        margin-left: 0.1rem;
        
    }
    .row{
        display: block;
    }
}
