*{
    margin: 0;
    padding: 0;
}

.nShift{
    margin-left: 0.1rem;
}


.divWholeCsss{
    background-color: black;
    color: #0b7eb8 !important;
}

.color{
    color: #0b7eb8 !important
}


.navbar-toggler {
    border-color: transparent;
}





@media only screen and (max-width: 600px) {
    .navbar-toggler {
        border-color: #399918 !important; /* Change border color */
    }

    .navbar-toggler-icon {
        background-image: none !important; /* Remove default Bootstrap icon */
    }

    .navbar-toggler-icon::before {
        content: "\2630"; /* Unicode for hamburger icon */
        color: #399918;  /* Custom green color */
        font-size: 1.5rem;
    }
}